extends layout

block content
    h1= title
    p List of users attempted to be added with linking code #[code #{code}]:
    ul
        each element in users
            li= element

    a(href="/admin") Return to admin panel