extends layout

block content
    h1= title
    p Please type the linking code you received below to finish authentication.
    p(style='color:red;')= error
    form(action='/add', method='POST')
        label(for=code) Invite Code:
        input(type='text', name='code', value='')
        input(type='submit', value='Submit')
